#check-details-view {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#display-restaurant-name {

}

#details-container {
    margin-top: 0px;
    padding: 20px;
}

.details-left-side {
    float: left;
    text-align: left;
}

.details-right-side {
    float: right;
    text-align: right;
}

#meal-subtotal {

}

#meal-tip {

}

#meal-tax {

}

#meal-total-text {
    
}

#meal-total {

}

#pay-now-btn {
    margin-bottom: 10px;
}
