#pinWrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px; 
    border: 1px solid #B20404;
    border-radius: 40px;
}

#pinHeader {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

#enterPinTxt {
    margin-top: 35px;
    font-size: 18px;
    color: #FFF;
}

#pinInput {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 3.1em;
    outline: 0;
    border: 0;
    background-color: inherit;
    color: white;
    text-align: center;
    font-size: 4.1em;
    letter-spacing: 10px;
    border-bottom: 4px solid #FFF;
}

#pinInput::placeholder {
    color: #FFF;
}
