@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-right {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

#profileContainer {
    position: fixed;
    background-color: #D80303;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    z-index: 50;

    transform: scaleX(0);
    transform-origin: right;
}

.growProfileLeft {
    animation: grow-left cubic-bezier(0.50, 0.50, 0.50, 0.50) 0.2s forwards;
}

.shrinkProfileRight {
    animation: shrink-right cubic-bezier(0.50, 0.50, 0.50, 0.50) 0.2s forwards;
}

#closeProfileView {
    height: 25px;
    width: 25px;
    float: right;
    margin: 25px;
}

#profileImage {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 15px;
}

.profileTopText {
    text-align: center;
    color: #FFF;
    margin: 0px;
    padding: 0px;
}

#profileViewUsername {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

#profileViewEditUserBtn {
    font-size: 16px;
    font-weight: 200;
}
