.surveyAnswerListItem {
    display: flex;
    margin-bottom: 25px;
}

.surveyAnswerText {
    margin: auto;
    margin-left: 35px;
    font-weight: 600;
    color: #000;
    opacity: .6;
}

.circleIcon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
}