#navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    padding: 25px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-container * {
    width: 100%;
}

#insertedText {
    text-align: left;
    font-size: 140%;
    font-weight: 600;
    color: white;
}

#show-profile-icon {
    width: 30px;
    height: 25px;
    float: right;
}
