#showTabItems {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
}

.tabItem {
    margin-bottom: 15px;
}

.tabItem p {
    font-size: 16px;
}

.tabItemLeft {
    float: left;
}

.tabItemRight {
    float: right;
}

#tabItemTotal {
    margin-top: 20px;
    margin-bottom: 15px;
}

#tabItemTotal p {
    font-size: 18px;
}

#tabItemTip p {
    font-size: 12px;
}
