.view-invisable {
    opacity: 0;
}

.view-visible-blurry {
    opacity: 0.9;
}

.view-swipe-down {
    max-height: 0;
    overflow: hidden;
    padding: 0px;
    transition: max-height 0.4s ease-out;
}

.view-swipe-up {
    overflow-y: hidden;
	max-height: 70vh; /* approximate max height */
    padding: 10px;
    transition: max-height 0.6s ease-out;
}

.close-view {
    height: 20px;
    width: 20px;
    margin: 10px;
    float: right;
}

#paytab-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: white;
    transition: opacity 0.3s;
}

#paytab-view {
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
    width: 70vw;
    margin: 0 auto;
    background-color: #D20404;
    border-radius: 10px;
}

#paytab-view p {
    text-align: center;
    color: white;
    padding: 0;
}

#padding-for-close-view {
    width: 100%;
    height: 35px;
}
