#payTabBtnContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    border-radius: 55px 55px 0px 0px;
    z-index: 20;
}

#payTabBtn {
    margin: 0 auto;
    margin-top: 18px;
    padding: 10px;
    width: 45%;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    color: #B20404;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
